.navigation_container {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background: #23232e;
  border-bottom: 1px solid #0000008e;
  filter: blur(4);
  color: white;
}

.userprofile {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.userprofile svg {
  fill: white;
  cursor: pointer;
  transition: filter .2s;
}

.userprofile svg:hover {
  filter: brightness(.85);
}

.userarrow svg path {
  fill: #efef;
  transition: .3s;
}

.userarrow.inactive {
  transform: rotateZ(0deg);
}

.userarrow {
  transition: .3s;
  transform: rotateZ(-180deg);

}




.dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 5px;
  background-color: #23232e;
  position: absolute;
  right: 0;
  font-size: 1.1rem;
  top: 50px;
  list-style: none;
  overflow: hidden;
  transition: .3s ease-in;
  max-height: 290px;
  width: 200px;
  text-align: center;
}

.dropdown.inactive {
  max-height: 0;
}

.dropdown li {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  text-align: center;
  color: #efef;
  margin: 15px 10px;
  transition: filter .2s;
}

.dropdown li:hover {
  filter: brightness(.8);

}



.dropdown svg {
  fill: #efef;
  margin: 0 10px;
  background-color: #464657;
  border-radius: 32%;
  padding: 7px;

}

.dropdown li:hover>svg {
  fill: #f7f7f7;
}