.navigation_container {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background: #23232e;
  border-bottom: 1px solid #0000008e;
  filter: blur(4);
  color: white;
}

.userprofile {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.userprofile svg {
  fill: white;
  cursor: pointer;
  transition: filter .2s;
}

.userprofile svg:hover {
  filter: brightness(.85);
}

.userarrow svg {
  transition: .3s;
}

.userarrow {
  transform: scaleX(-1);
}
.userarrow.inactive {
  transform: scaleX(1);
}


.dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 5px;
  background-color: #23232e;
  padding: 5px;
  position: absolute;
  right: 0;
  font-size: 1.1rem;
  top: 50px;
  list-style: none;
  transition: .3s ease-in;
}

.dropdown.inactive {
  right: -200px;
}

.dropdown li {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  /* text-align: center; */
  color: #efef;
  margin: 15px;
  transition: filter .2s;
}

.dropdown li:hover {
  filter: brightness(.85);
}

.dropdown svg {
  fill: #efef;
  margin-right: 15px;
  background-color: #464657;
  border-radius: 50%;
  padding: 8.1px;
}
.dropdown li:hover > svg {
  fill: #f7f7f7;
}

/* 
@media (max-width:900px) {

} */