.account_field {
  margin: 8px 0;
  background-color: transparent;
}

.account_field h2 {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  margin: 6px 0;
}

.account_field input {
  outline: none;
  border: 1px solid #2b2b2b85;
  font-size: 1rem;
  padding: 5px;
  border-radius: 3px;
  background-color: transparent;
  width: 90px;
  margin: 0 2px;
  transition: .26s;
}

.account_field input:focus {
  border: 1px solid #109e17bb;
  box-shadow: .6px 0px 3px #1661356e;
}