.data_table {
  font-size: 1rem;
}
.data_table th{
  padding: 8px 5px;
  font-weight: lighter;
  font-size: 1.098rem;
  
}
.data_table td {
  padding: 8px 5px;
  text-align: center;
  font-size: 1.08rem;
}
.data_table span{
  margin: 0 5px;
}