.query_table {
  margin: 30px 0;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
}

.query_table table {
  border-collapse: collapse;
  text-align: center;
}

.query_table th {
  font-weight: lighter;
  font-size: 1.1rem;
}

.query_table td span {
  margin: 0 5px;
}

.query_table th,
.query_table td {
  border: 1px solid black;
  padding: 8px;

}

@media(max-width:900px) {
  .query_table {
    overflow: scroll;
    width: 100vw;
    align-items: unset;
    justify-content: unset;
    display: none;
  }
}