.table_register {
  border-collapse: collapse;
  text-align: center;
}

.table_register td,
.table_register th {
  border: 1px solid #383838bb;

  padding: 5px 10px;
  font-weight: lighter;
  font-size: 1.1rem;
}

.table_register span {
  margin: 0 10px;
}

.table_register td {
  font-size: 1.08rem;
}

@media (max-width:900px) {
  

  .table_register td,
  .table_register th {
    border: 1px solid #383838bb;

    padding: 5px;
    font-weight: lighter;
    font-size: 1.1rem;
  }

  .table_register span {
    margin: 0 5px;
  }

  .table_register td {
    font-size: 1.04rem;
  }
}