.create_team,
.delete_and_exit_team,
.add_member {
  display: flex;
  flex-direction: column;
  
}

.profile_container button {
  padding: 5px;
  font-size: 1rem;
  border: none;
  outline: none;
  margin: 5px 0;
  border-radius: 3px;
  color: #f8ebeb;
  cursor: pointer;
  background: #6141cc;
  
}
.delete_and_exit_team select {
  font-size: 0.96rem;
  
}
.delete_and_exit_team option{
  margin: 2px 0;
}
.profile_container button:hover {
  filter: brightness(.9);
}

.profile_container input {
  padding: 5px;
  font-size: 1rem;
  outline: none;
  margin: 5px 0;
  transition: .3s;
}
.profile_container input:focus{
  box-shadow: 1px .6px 2px #8a72d8af;
}
.create_team {
  padding: 8px;
  width: 200px;
  margin: 10px;
  box-shadow: 1px 1px 4px #2e2e2e79;
  border-radius: 4px;
}
.delete_and_exit_team{
  padding: 8px;
  width: 200px;
  margin: 10px;
  box-shadow: 1px 1px 4px #2e2e2e79;
  border-radius: 4px;
}
.add_member {
  padding: 8px;
  width: 250px;
  margin: 10px;
  box-shadow: 2px 2px 6px #22222287;
  border-radius: 4px;
}