
.account_infos p {
  font-size: 1.1rem;
  cursor: not-allowed;
  color: #222;
  text-align: center;
  line-height: 1.5rem;
}

@media only screen and (max-width: 1200px) {
  .account_infos p {
    margin: 5px 0;
  }

}