.parent_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.contas_container {

  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 3px 8px #4a754462;
  color: #222222d0;
  border-radius: 5px;
  padding: 0 10px;
}
.account_field {
  margin: 4px 0;
 
  flex: 1;
  
  background-color: transparent;
}

.account_field h2 {
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  margin: 6px 0;
}

.account_field input {
  outline: none;
  border: 1px solid #2b2b2b85;
  font-size: 1rem;
  padding: 5px;
  border-radius: 3px;
  background-color: transparent;
  width: 90px;
  margin: 0 2px;
  transition: .26s;
  flex: 1;
}

.account_field input:focus {
  border: 1px solid #109e17bb;
  box-shadow: .6px 0px 3px #1661356e;
}

@media only screen and (max-width: 1200px) {
  .parent_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-width: 98vw;
    font-family: Arial, Helvetica, sans-serif;
  
  }
}