.main_container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 91.6vh;

}

.register_container {
  padding: 10px;
  box-shadow: 1.2px 2px 5px #22222263;
  border-radius: 5px;
  margin: 0 25px;

}

.account_container {
  margin: 10px 0;

}

.register_container h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #1d1d1dd0;
  text-align: center;
}

.accounts {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0;
}

.accounts input {
  padding: 4px;
  font-size: 1rem;
  outline: none;
  border: 1px solid #55555585;
  border-radius: 2px;
  margin: 0 2px;
  width: 105px;
  transition: .3s;
}

.accounts input:focus {
  box-shadow: .8px .9px 1px #55e47eaf;
}

.selector_container {

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 4px 0;

}

.selector_container select {
  border-radius: 1px;
  border: 1px solid #838383ce;
  background-color: #d9e2e2;
  outline: none;
  padding: 4px;
}
